@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'pfdin';
    src: url(/public/fonts/PFDinTextCompPro-Regular.ttf) format("opentype");
    font-weight: 400;
  }
  @font-face {
    font-family: 'pfdin';
    src: url(/public/fonts/pfdintextcondpro-medium.ttf) format("opentype");
    font-weight: 500;
  }
}
